@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    /* padding-left: 11px;
    padding-right: 11px;
    padding-top: 0; */
    background: #fff;
    text-transform: none;
    color: #000;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
}

.a-text {
    @apply hover:underline cursor-pointer px-[10px] font-medium;
}
.a-text-non-hover {
    @apply cursor-pointer px-[10px] font-medium;
}
